<section>

  <div>
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div class="top col-md-11">
          <div class="right">
            <img src="./assets/images/user-pages/userd/userdmycontacts/Path%20429.png" alt="">
            <div class="right-text">سلامت جو نقره ای</div>
          </div>
          <div class="left">
            <div class="left-text">
              <img src="./assets/images/user-pages/userd/Iconly-Light-Wallet.png" alt="">
              ۱۵۰۰۰ ریال
            </div>
            <a class="increase-credit">
              افزایش موجودی
            </a>
          </div>
        </div>
        <div class="bottom col-md-11 mt-4">
          <div class="formWhole">
            <div class="midForm">
              شما تا کنون گفت و گویی نداشته اید
            </div>
            <div class="bottomSecLine">
              <button class="conversation"> شروع گفت و گو</button>
            </div>
            <div class="bottomThirdLine">
              سلامت  همه آفاق در سلامت توست
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
