<section>

  <div>
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div class="top col-md-11">
          <div class="right">
            <img src="./assets/images/user-pages/userd/userdmycontacts/Path%20429.png" alt="">
            <div class="right-text">سلامت جو نقره ای</div>
          </div>
          <div class="left">
            <div class="left-text">
              <img src="./assets/images/user-pages/userd/Iconly-Light-Wallet.png" alt="">
              ۱۵۰۰۰ ریال
            </div>
            <a class="increase-credit">
              افزایش موجودی
            </a>
          </div>
        </div>
        <div class="bottom col-md-11 mt-4">
          <div class="whole">
            <div class="myConversations">
              گفت و گو های من
            </div>
            <div class="box">
              <div class="myTurnBox">
                <div class="firstLine">
                  <div class="right">
                    نوبت تصویری
                  </div>
                  <div class="middle">
                    ۱۴۰۰/۰۶/۰۶
                  </div>
                  <div class="left">
                    ۱۴:۵۵
                  </div>
                </div>
                <div class="secondLine">
                  <div class="right">
                    <div class="img"></div>
                    <div class="text-right">
                      دکتر مریم حسینی
                    </div>
                    <div class="text-middle">
                      متخصص گوش و حلق و بینی
                    </div>
                  </div>
                  <div class="middle">
                    <div class="text">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                    </div>
                  </div>
                  <a class="end">
                    بیشتر
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
