<!--
  <div class="wrapper" style="direction:rtl">
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark ">
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" style="padding-right:50px;" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content ">
      <div class="logo" style="padding-right:10px;font-size:10pt"><a  ><i ></i> <img style="width:50px;height:50px;" src="assets/pic/logo.png"  alt=""> </a></div>
        <ul class="links">
          <li><a href="#" ><i style="color:#9400D3" class="fa fa-home" aria-hidden="true"></i><span style="color:black;font-family: IRANSansWeb !important;" > صفحه اصلی</span></a></li>
          <li><a href="#" ><i  style="color:#9400D3" class="fa fa-user" aria-hidden="true"></i><span style="color:black;font-family: IRANSansWeb !important;"> دستیار همه کار</span></a></li>
		            <li><a href="#"><i  style="color:#9400D3"  class="fa fa-phone" aria-hidden="true"></i><span style="color:black;font-family: IRANSansWeb !important;"> مشاور آنلاین</span></a></li>

          <li><a href="#" ><i  style="color:#9400D3" class="fa fa-user" aria-hidden="true"></i><span style="color:black;font-family: IRANSansWeb !important;"> دستیار همه کار</span></a></li>

          <li><a href="#" ><i  style="color:#9400D3" class="fa fa-user" aria-hidden="true"></i><span style="color:black;font-family: IRANSansWeb !important;"> دستیار همه کار</span></a></li>
        </ul>
      </div>

    </nav>
  </div>

-->