<header class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light container mx-auto">
    <div class="container-fluid">
      <div class="row col-12">
        <div class="column1 flex col-8">
          <a class="navbar-brand">
            <img src="../../../assets/images/images/nobaan_logo.svg" alt="" width="70" height="60">
          </a>
          <button class="navbar-toggler" id="toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="menu-logo"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" id="activeToggle">
              <a class="nav-link doctor">
                پزشک
              </a>
              <a class="nav-link clerk">
                منشی
              </a>
              <a class="nav-link users">
                کاربران
              </a>
              <a class="nav-link reserve">
                نوبت
              </a>
            </div>
          </div>
        </div>
        <div class="column2 col-4 navLeft">
          <a class="close">خروج</a>
        </div>
      </div>
    </div>
  </nav>
</header>
