<app-userd-navbar></app-userd-navbar>
<app-sidbaradmin></app-sidbaradmin>
 <ngx-loading [show]="loading"  [config]="{fullScreenBackdrop:true, tertiaryColour: '#9516d8c2' , primaryColour: '#9516d8c2'}" ></ngx-loading>


<section >
    <div >
        <div class="container" >
            <div  class="row justify-content-center align-items-center">
                <div  class="col-md-5 " style="height:70% !important ; position: fixed; top:100px" >
                <form [formGroup] = "EditRoleForm" (ngSubmit) = "editRole()" id="login-form" class="form mr-4" action="" method="post" style="border: 1px solid #0f0e0f; border-radius: 1rem;">
                            
                    <h3 class="text-right text-info mt-3 mr-3" style="font-size:13pt; color:#9400D3 !important"><i class="fa fa-plus-circle mt-4" aria-hidden="true"></i><b> ویرایش نقش</b></h3>
                    
                    <div class="form-group mt-1 mr-3 ml-3" style="text-align:justify; direction:rtl; color:black; font-size:10pt ">
                    
                        <label class=" mb-1 mr-2" > <i  class="fa fa-pencil-square-o" aria-hidden="true" style="color:#9400D3"></i> نام نقش را وارد کنید:</label><br>
                    <div class="col-12"> 
                        <input  type="text" style="font-size:10pt"  name="permission_name" id="permission_name" class="form-control mt-3 "  formControlName = "role_name2" value={{editItem.role_name}}>
                    </div>
                    </div>
                    <div class="form-group  mr-3 ml-3" style="text-align:justify; direction:rtl; color:black; font-size:10pt ">
                    
                        <label class=" mr-2" > <i  class="fa fa-pencil-square-o" aria-hidden="true" style="color:#9400D3"></i> مجوز های نقش را وارد کنید:</label><br>
                    <div class="col-12">
                <div class="form-group col-11 col-lg-12 px-0 mt-3">
                    <fieldset class="form-group ">
                        <ng-select [items]="listPermish" bindLabel="permission_name" bindValue="id"  [multiple]="true" 
                            placeholder="انتخاب مجوز" [(ngModel)]="selectedRoleIds" [ngModelOptions]="{standalone: true}" [virtualScroll]="true">
                        </ng-select>
                    </fieldset>                              
                </div>        
            </div>
             
            </div>                                   

                <div class="form-group mt-1 mr-3 ml-3" style="text-align:justify; direction:rtl; color:black; font-size:10pt ">
                
                <label class=" mb-1 mr-2"> <i class="fa fa-comment" aria-hidden="true" style="color:#9400D3"></i> توضیحات</label><br>
                <div class="col-12">
                <textarea name="explain" rows="20" style="font-size:10pt" cols="10" class="form-control mt-2"   rows="3" placeholder="توضیحات" formControlName = "description2" value={{editItem.description}}    > 
                </textarea>
                
                </div>
                </div>
                  <div class="d-flex mt-4 ml-4" id="for-new-styles" style="width:100%; justify-content:space-between">
                                <div class="w-20" style="margin-right: auto;margin-left: 23px;">

       

                    <button type="submit" class="btn btn-primary mb-3 mx-2"style="width:100px;background-color: #9400D3;font-size: 10pt; padding: 5px 25px">
                <a class="text-decoration-none text-white">
                تایید
                 </a>
            </button>
                         <button  (click)="ReturnTo()" type="submit" class="btn btn-primary mb-3 mx-2" style="width:100px;background-color: #9400D3;font-size: 10pt; padding: 5px 25px">
                        <a class="text-decoration-none text-white">
                              بازگشت
                        </a>                        
                    </button>
            </div>
                        
            </div>
                             
        </form>

        <div class="form-group mt-1 mr-3 ml-3" style="text-align:justify; border-radius: 6pt; direction:rtl;  font-size:10pt " >                            
            <div class="col-12"> 
                 <div class="w-80 px-3"  *ngIf="((submitted) && f.role_name2.errors)   " style="color:red; font-size:8pt">
                    <div *ngIf="f.role_name2.errors.required" style="direction:rtl !important"><b><i class="fas fa-exclamation-circle"></i> لطفا نام نقش  را وارد نمایید.</b></div> 
                </div>

                <div class="w-80 px-3"  *ngIf="((submitted) && f.description2.errors)   " style="color:red; font-size:8pt">
                    <div *ngIf="f.description2.errors.required" style="direction:rtl !important"><b><i class="fas fa-exclamation-circle"></i> لطفا توضیحات نقش  را وارد نمایید.</b></div> 
                </div> 

                <div class="w-80 px-3" *ngIf="submitted && error1==1" style="color:red; font-size:8pt"  >
                    <b><i class="fas fa-exclamation-circle"></i> این نام قبلا انتخاب شده است.</b>              
                </div>
                <div class="w-80 px-3" *ngIf="submitted && error2==1" style="color:red; font-size:8pt"  >
                    <b><i class="fas fa-exclamation-circle"></i>   داده های ورودی نامعتبر است.</b>              
                </div> 
                <div class="w-80 px-3" *ngIf="submitted && errorMsg==1" style="color:red; font-size:8pt"  >
                    <b><i class="fas fa-exclamation-circle"></i> حداقل یک مجوز انتخاب کنید.</b>                
             </div>
            </div>
        </div>  



        </div>
    </div>
</div>
</div>
</section>


    






