<main>
    <article class="container mx-auto">
        <div class="middle">
            <div class="asideOptions">
                <ul>
                    <li>
                        <img src="../../../assets/images/logos-svg/aside-options/Group 2645.svg" alt="">
                        <div class="tooltip"><a href="#">متن شماره1</a></div>
                    </li>
                    <li>
                        <img src="../../../assets/images/logos-svg/aside-options/question.svg" alt="">
                        <div class="tooltip"><a href="#">متن شماره 2</a></div>
                    </li>
                    <li>
                        <img src="../../../assets/images/logos-svg/aside-options/help (1).svg" alt="">
                        <div class="tooltip"><a href="#">متن شماره 3</a></div>
                    </li>
                    <li>
                        <img src="../../../assets/images/logos-svg/aside-options/Group 2935.svg" alt="">
                        <div class="tooltip"><a href="#">پیشنهاد پزشک</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</main>
