//persian font for numbers

@font-face {
    font-family: 'vazir';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Farsi-Digits-Without-Latin/Vazir-Regular-FD-WOL.eot');
    src: url('../assets/fonts/Farsi-Digits-Without-Latin/Vazir-Regular-FD-WOL.ttf'); /* IE9 Compat Modes */
}
