<app-sidbaradmin></app-sidbaradmin>
<app-userd-navbar></app-userd-navbar>
 <ngx-loading [show]="loading"  [config]="{fullScreenBackdrop:true, tertiaryColour: '#9516d8c2' , primaryColour: '#9516d8c2'}" ></ngx-loading>


<section >
  <div id="register">
      <div class="container" >
          <div id="login-row" class="row justify-content-center align-items-center">
              <div class="col-md-8 " style="height:70% !important ;  top:100px" >
              
            <form  [formGroup] = "registerForm" accept-charset="UTF-8" id="login-form" class="container" (ngSubmit) = "registers()" style="border: 1px solid #0f0e0f; border-radius: 1rem;">
                <h3  class="text-right text-info mt-3" style="font-size:13pt; color:#9400D3 !important"><a style="text-decoration:none; font-size:13pt; color:#9400D3 !important"><i class="fa fa-plus-circle mt-4" aria-hidden="true"></i> &nbsp;<b>ثبت مطب</b></a></h3>

              
    <div class="row" style="direction: rtl;">
              <div class="col-6">
                <div class="from-group">
                    <input 
                      type="text" 
                     [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                      class="form-control mb-3 mt-2 text-right align-right "
                      placeholder='نام' formControlName = "name" value={{name}} required aria-required="true" title="Please fill out this field."
                    />	             
                  </div>
                </div>
                <div class="col-6">
                  <div class="from-group">
                    <input
                      type="text" 
                      [ngClass]="{ 'is-invalid': submitted && f.tittle.errors }"
                      class="form-control mb-3 mt-2 text-right align-right"
                      placeholder="عنوان " formControlName = "tittle" value= {{tittle}}
                    />	
                  </div>
                </div>
              </div>


              <div class="row" style="direction: rtl;">
                <div class="col-6"> 
                  <div class="from-group">
                    <input
                        type="text" 
                        [ngClass]="{ 'is-invalid': submitted && f.phone_num.errors }"
                        class="form-control mb-3 text-right align-right"
                        placeholder="تلفن "  mask="0*"  formControlName = "phone_num" value= {{phone_num}}
                      /> 		
                  </div>
                </div>                
           
              </div>         
         
  <div class ="row" style="direction: rtl;">
    <div class="col-6">
      <div class="from-group">        
              <select class="form-control mb-3 text-right align-right" name="ostan" 
                [ngClass]="{ 'is-invalid': submitted && f.province.errors }"
                style="font-size:0.7rem;width: 100%;margin-right:1px;"
                formControlName = "province" 
                id="province" (change)="selectOstan($event)"  >
                
                <option value=""  disabled selected hidden >انتخاب استان</option>
                <option  *ngFor= "let item of data" value={{item.state_id}}>{{item.province}}</option> 
              </select>
        </div> 
      </div> 
      <div class="col-6"> 
        <div class="from-group">
              <select  class="form-control mb-3 text-right align-right"  style="font-size:0.7rem; ;width: 150px;margin-right:32px"
                [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
                formControlName = "city" 
                style="font-size:0.7rem;width: 100%;margin-right:1px"
               name="City"   id="cities" (change)="selectCity($event)" >
                <option value="" disabled selected hidden>انتخاب شهر</option>
                <option *ngFor="let city of cities" value={{city.id}}>{{city.city}}</option>
              </select>
            </div> 
         </div> 
      </div> 

      
      <div class ="row" style="direction: rtl;">

      <div class="col-6">         
            <div class="from-group" style="text-align: right; direction: rtl;font-size: 8pt;">
                   <fieldset class="form-group ">
                        <ng-select bindLabel="name" [(ngModel)]="selectedsecretaryIds" class="NgSelect" [ngModelOptions]="{standalone: true}" bindValue="id"  [multiple]="true" 
                            placeholder="انتخاب منشی"  >
                            <ng-option *ngFor="let item of secretary" [value]="item.id">{{item.user.name}} {{item.user.surname}}  {{item.user.phone_num}}</ng-option>

                        </ng-select>
                    </fieldset> 
            </div>
          </div>
               <div class="col-6">         
            <div class="from-group" style="text-align: right; direction: rtl;font-size: 8pt;">
                   <fieldset class="form-group ">
                        <ng-select bindLabel="name" [(ngModel)]="selecteddoctorIds" class="NgSelect"  bindValue="id" [ngModelOptions]="{standalone: true}" [multiple]="true" 
                            placeholder="انتخاب پزشک"  >
                            <ng-option *ngFor="let item of doctor" [value]="item.id">{{item.user.name}} {{item.user.surname}}  {{item.user.phone_num}}</ng-option>

                        </ng-select>
                    </fieldset> 
            </div>
          </div>

        </div> 



      <div class ="row" style="direction: rtl;">

      <div class="col-6">         
            <div class="from-group" style="text-align: right; direction: rtl;font-size: 8pt;">
          <fieldset class="form-group ">
                        <ng-select bindLabel="name"  class="NgSelect" [(ngModel)]="selectedvisitIds" [ngModelOptions]="{standalone: true}" bindValue="id"  [multiple]="true" 
                            placeholder="انتخاب نوع ویزیت"  >
                            <ng-option *ngFor="let item of datavisit" [value]="item.id">{{item.name}}</ng-option>

                        </ng-select>
                    </fieldset> 
            </div>
          </div>
         <div class="col-6">         
            <div class="from-group" style="text-align: right; direction: rtl;">
                <textarea rows="20"               
                cols="100" class="form-control col-12" rows="3" placeholder="آدرس"  formControlName = "address"
                [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                > 
                </textarea>
            </div>
          </div>
        </div> 




 



       

       
       <div class="d-flex mt-4 ml-4" id="for-new-styles" style="width:100%; justify-content:space-between">
            <div class="w-20" style="margin-right: auto;">

                    <button   class="btn btn-primary  mb-3  w-20" style="background-color: #9400D3; padding: 5px 25px;width:100px;font-size: 10pt;">
              <a class="text-decoration-none text-white">
                تایید
              </a>
            </button>
                                  <button  (click)="ReturnTo()" type="submit" class="btn btn-primary mb-3 mx-2" style="width:100px;background-color: #9400D3;font-size: 10pt; padding: 5px 25px">
              <a class="text-decoration-none text-white">
                    بازگشت
              </a>                        
          </button>
          </div>
        </div>

      </form>    


      <form  accept-charset="UTF-8" class="container mt-2"  style="border-color: white !important; background-color: white;">
              
        <div class="form-group" style=" text-align:justify;border-radius: 6pt; direction:rtl; color:black; font-size:10pt " >                            
          <div class="col-12">  
               <div class="w-80 px-3"  
               *ngIf="((submitted) && f.name.errors) ||((submitted) && f.tittle.errors)||((submitted) && f.address.errors)||
               ((submitted) && f.phone_num.errors)||((submitted) && f.city.errors)||((submitted) && f.province.errors)"              
                             
               style="color:red; font-size:8pt">
                    <div style="direction:rtl !important"><b><i class="fas fa-exclamation-circle"></i> لطفا اطلاعات فرم را کامل نمایید.</b></div> 
              </div>
              <div class="w-80 px-3"  *ngIf="submitted && errorMsg1==1 && valid2==1  " style="color:red; font-size:8pt">
                <div  style="direction:rtl !important"><b><i class="fas fa-exclamation-circle"></i> انواع ویزیت را انتخاب کنبد.</b></div> 
              </div>
              <div class="w-80 px-3"  *ngIf="submitted && errorMsg2==1 && valid2==1  " style="color:red; font-size:8pt">
                <div  style="direction:rtl !important"><b><i class="fas fa-exclamation-circle"></i> منشی مطب را انتخاب کنبد.</b></div> 
              </div>
              
              <div class="w-80 px-3"  *ngIf="submitted && errorMsg3==1 && valid2==1 " style="color:red; font-size:8pt">
                <div  style="direction:rtl !important"><b><i class="fas fa-exclamation-circle"></i> پزشک مطب را انتخاب کنید.</b></div> 
              </div>         
          </div>
  
        </div>            
        
</form> 



    </div>
    </div>
  </div>
</div>
</section>





