<section>

  <div>
    <div class="container2">
      <div id="login-row2" class="row justify-content-center align-items-center">
        <div class="bottom col-md-11 mt-4">
          <div class="whole2">
            <div class="myConversations">
              نوبت های من
            </div>
            <div class="box2">
              <div class="myTurnBox2">
                <div class="firstLine2">
                  <div class="right">
                    نوبت تصویری
                  </div>
                  <div class="middle2">
                    ۱۴۰۰/۰۶/۰۶
                  </div>
                  <div class="left">
                    ۱۴:۵۵
                  </div>
                </div>
                <div class="secondLine">
                  <div class="right">
                    <div class="img"></div>
                    <div class="text-right">
                      دکتر مریم حسینی
                    </div>
                    <div class="text-middle">
                      متخصص گوش و حلق و بینی
                    </div>
                    <a class="end">
                      بیشتر
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
